@{
    ViewData["Title"] = "About";
}

<br /><br />
<h2>Instructions</h2>
<p>Please Login to see the diagram. You can either create a account or use your existing Google Account.</p>
<p>Click "Home" to return to the Homepage. Click "About" to see the instructions. Click "Contact" to see our email addresses.</p>
