@{
    ViewData["Title"] = "Home Page";
}

<!--<a class="btn btn-default" href="~/lib/Line.cshtml">test</a>-->
<!--@Html.ActionLink("Graph", "Contact", "Home", null, new { @class = "page-scroll" })-->
<br /><br />
<h2>Welcome to our Miniproject!</h2>
<p>Click "Home" to return to the Homepage. Click "About" to see the instructions. Click "Contact" to see our email addresses.</p>